<p>Pour obtenir vos identifiants utilisateurs, ou changer vos droits d'accès, merci d'envoyer un mail à l'administrateur de cette application :
	<a href="mailto:Frederic.RANNOU@ansm.sante.fr">Frederic.RANNOU@ansm.sante.fr</a>
</p>
