<div class="frm-json">
	<form id="aff-json">
		<div class="row">
			<div class="col-9">
				<input type="text" id="RechIndic" placeholder="Saisissez une indication" class="form-control">
			</div>
			<div class="col-3">
				<button type="submit" class="btn btn-secondary m-2 btn">Recherche de DMM/Pôle</button>
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div id="resu-json"></div>
	<table id="TableGlossaire" class="table table-hover"></table>
</div>
</div>
