{% extends 'base.html.twig' %}

{% block title %}Hello ExportExcelPilotageController!{% endblock %}

{% block body %}

<div>
  
    Merci de télécharger <a href="{{ asset(nomFichierExcel) }}">ce fichier Excel</a>.
    <BR>

</div>
{% endblock %}
