{% extends 'base.html.twig' %}

{% block title %}Test fetch()
{% endblock %}

{% block body %}


	{{ encore_entry_link_tags('glossaire_css') }}

	{% block javascripts %}
		{{ encore_entry_script_tags('glossaire') }}
	{% endblock %}
	<div>
		<div class="frm-json">
			<form id="aff-json">
				<input type="text" id="RechIndic" placeholder="Saisissez une indication">
				<button type="submit">Recherche de DMM/Pôle</button>
			</form>

			<div id="resu-json"></div>

			<table id="TableGlossaire"></table>
		</div>
	</div>
{% endblock %}
