{% extends 'base.html.twig' %}

{% block title %}Évaluation d'un SUSAR
{% endblock %}

{% block body %}

<div class="container-fluid">

	{{ form_start(form) }}

	{% include "_partials/_affiche_eval_susar.html.twig" %}

	{{ form_end(form) }}
</div>
<div class="p-3">
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
</div>

{% endblock %}
