{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
	{{ form_start(form) }}

	{% include "_partials/_affiche_eval_susar.html.twig" %}

	<div class="row">
		<div class="col-3">
			{{ form_widget(form.Save) }}
		</div>
	</div>

	{{ form_end(form) }}

	</div>

{% endblock %}
