{% extends 'base.html.twig' %}

{% block title %}Test fetch()
{% endblock %}

{% block body %}


	<div>
		{{ dump(Glossaires) }}
	</div>

	{{ encore_entry_link_tags('glossaire_css') }}

	{% block javascripts %}
		{{ encore_entry_script_tags('glossaire') }}
	{% endblock %}

	<div class="frm-json">
		<form id="aff-json">
			<button type="submit">Lance le fetch()</button>
		</form>

		<div id="resu-json"></div>

		<table id="TableGlossaire"></table>
	</div>
{% endblock %}
