{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Inscription</h1>
					Pour obtenir vos identifiants utilisateurs, merci d'envoyer un mail à l'administrateur de cette application : <a href="mailto:Frederic.RANNOU@ansm.sante.fr">Frederic.RANNOU@ansm.sante.fr</a>

			</div>
		</div>
	</div>

{% endblock %}
