{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col">
				<h1>Inscription</h1>
				{% include "_partials/_contact_admin.html.twig" %}
			</div>
		</div>
	</div>

{% endblock %}
